body {
    background-color: lightgray;
    text-align: center;
}

form {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 10px;
}

input, select {
    width: 90%;
    margin: 5px;
}

button, input[type="submit"] {
    background-color: green;
    color: white;
}
